.mainbanner {
  background: var(--white);
  height: 29rem;
  border-radius: 8px;

  padding: 5.8125rem 3.5625rem 4.625rem 3.75rem;
}

.mainbanner main {
  width: 100%;
  /* ADD THE BACKGROUND IMAGE HERE !!! */
}

.greetings {
  line-height: 1.24;
}

.greetings > strong {
  color: var(--gold-500);
}